.splash_logo{
	margin-top:55%;
 
}
.welcome_contr{padding: 40px 0px 60px; background: url('../images/choice_bg.png')no-repeat; background-size: cover; }
.welcome_heading{
	display: block; width:100%; margin-bottom: 15px; text-align: center; font-size: 22px
}
.info_holder{
  padding:70px  20px 40px ;
  position: absolute;
  top: 270px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius:20px 20px 0px 0px ;
  margin-top: -20px;
 
  box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
 
  max-width: 100%;
background: rgb(11,61,94);
background: -moz-linear-gradient(330deg, rgba(11,61,94,1) 0%, rgba(40,142,201,1) 74%);
background: -webkit-linear-gradient(330deg, rgba(11,61,94,1) 0%, rgba(40,142,201,1) 74%);
background: linear-gradient(330deg, rgba(11,61,94,1) 0%, rgba(40,142,201,1) 74%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b3d5e",endColorstr="#288ec9",GradientType=1);
}
.vlid_heading{margin-bottom: 20px;}
#search_btn {padding: 0px; background: none;}
#otp_id{background: none; border:0px;color: #fbfbfb; text-align: center; border-bottom: 1px solid #fbfbfb; border-radius: 0px;}
#search_btn img{height: 45px;}
.buttons_holder{
	margin-bottom: 30px;
}
 .form-group{display: block; width: 100%; margin-bottom: 15px;}

 .wrapper {
  position: relative;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:400px;
  height:200px;
  background-color: white;
}

.innerpage_header
{
  background: rgb(11,61,94);
background: -moz-linear-gradient(74deg, rgba(11,61,94,1) 0%, rgba(40,142,201,1) 74%);
background: -webkit-linear-gradient(74deg, rgba(11,61,94,1) 0%, rgba(40,142,201,1) 74%);
background: linear-gradient(74deg, rgba(11,61,94,1) 0%, rgba(40,142,201,1) 74%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b3d5e",endColorstr="#288ec9",GradientType=1);
color: #fff; padding:15px 15px; 
}
.innerpage_header h2{
  font-size: 23px; margin-bottom: 0px;
}
.title_heading{font-size: 18px; font-weight: 600; margin-top: 20px;}
.input_style{
  border:0px; border-bottom: 1px solid #ccc; background: none; padding: 5px 10px; border-radius: 0px;
}
form label{margin-bottom: 0px;}
.form-group{margin-bottom: 20px;}