.main_card{
    width: 300px;
    height: 500px;
    position: relative;
    background-color: aqua;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.right_rect{
    position: absolute;
    width: 189%;
    height: 40%;
    background-color: #D6EE93;
    transform: rotate(36deg);
    top: -24%;
    right: -41%;
    z-index: 0;
}
.bottom_rect{
    position: absolute;
    width: 189%;
    height: 40%;
    background-color: #D6EE93;
    transform: rotate(36deg);
    bottom: -24%;
    left: -62%;
    z-index: 0;
}
.logo img{
    margin: 10px;
}
.logo{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: end;
}
.qr img{
    margin: 10px;
}
.dp{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
}
.qr{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: left;
    margin-top: auto;
    z-index: 1;
}
.content{
    justify-self: end;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
}
table{
    margin-top: 10px;
}
tr{
    text-align: left;
}

.left_design {
    background: #D6EE93;
    width: 100%;
    height: 20px;
    position: absolute;
    transform: rotate(36deg);
    top: -1%;
    left: -62%;
}
._1{
    background: #d6ee93db;
    top: 2%;
    left: -72%;
}
._2{
    background: #d6ee9396;
    top: 4%;
    left: -84%;
}