#printableArea .profile-pic img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

#printableArea .pass-content ul {
    list-style-type: none;
}

#printableArea .card-footer img{
    width: 85px;
}

#printableArea .card-footer{
    justify-content: space-between;
}
/* #printableArea .card-footer .qr-block{
    justify-content: flex-start;
}*/

#printableArea .card-footer .verify-block{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 70px;
} 